#main_text h1 {
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#main_text p {
    font-size: 28px;
    margin-bottom: 50px;
}

#main_button {
    border-radius: 50px;
    font-size: 20px;
    height: 60px;
    width: 300px;
}

#main_img {
    width: 100%;
    height: 90%;
    margin-top: 100px;
}

#caja_vacia {
    width: 100%;
    height: 100px;
}