{{#partial "estilos"}}
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/index/crearUsuario.css">
    <link rel="stylesheet" href="/css/index/iniciarSesion.css">
{{/partial}}

{{#partial "nav-items"}}
    <li class="nav-item">
        <a class="nav-link" href="/index">
            <i class='bx bxs-home' title="Menú"></i>
            <span class="nav_items"> MENÚ </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/login">
            <i class='bx bx-log-in-circle' title="Iniciar sesión" ></i>
            <span class="nav_items"> INICIAR SESIÓN </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/crearUsuario">
            <i class='bx bx-user-plus' title="Crear cuenta"></i>
            <span class="nav_items"> CREAR CUENTA </span>
        </a>
    </li>
{{/partial}}