{{> index/base-index.hbs}}

{{#partial "titulo"}}
    <title> Registrar usuario </title>
{{/partial}}

{{#partial "container"}}

    <div class="container">

        <h1 id="title_CU"> CREAR CUENTA </h1>

        <div class="row">

            <div id="form_crear_usuario" class="col-sm-12 col-md-5 col-lg-5 col-xl-5">

                <form id="form_crear_usuario">

                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label"> Nombre </label>
                        <input type="text" class="form-control form-control-lg" id="nombre_usuario">
                    </div>

                    <div class="mb-3">
                        <label for="apellido_usuario" class="form-label"> Apellido </label>
                        <input type="text" class="form-control form-control-lg" id="apellido_usuario">
                    </div>

                    <div class="mb-3">
                        <label for="usuario" class="form-label"> Usuario </label>
                        <input type="text" class="form-control form-control-lg" id="usuario">
                    </div>

                    <div class="mb-3">
                        <label for="contrasenia_usuario" class="form-label"> Contraseña </label>
                        <input type="password" class="form-control form-control-lg" id="contrasenia_usuario" placeholder="Aca pueden ir los requisitos que la Contraseña debe cumplir">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> Rol </label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option value="#"> Eliga un rol </option>
                            {{#each tiposDeUsuario}}
                                <option value={{@index}}> {{this}} </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button id="registrar_usuario" type="submit" class="btn btn-success btn-lg"> Registrar </button>
                    </div>

                </form>

            </div>

            <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>

            <div id="crear_usuario_img" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="/img/crearUsuario.png" class="img-fluid">
            </div>

        </div>

    </div>

{{/partial}}
{{> base.hbs}}