{{#partial "titulo"}}
    <title> Guía de recomendaciones </title>
{{/partial}}

{{#partial "container"}}
    <div id="title_row_GR" class="row">
        <div id="shadow_title" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 id="main_title" class="text-center align-middle"> GUÍA DE RECOMENDACIONES </h1>
            <p id="subtitle" class="text-center"> Reduzcamos el uso de la huella de carbono </p>
        </div>
    </div>

    <div class="container">

        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p id="texto1" class="text-center">
                Todos los días, a través de nuestras acciones y hábitos cotidianos, generamos una huella de carbono.
                Esta huella representa la cantidad de gases de efecto invernadero que se vierten a la atmósfera como consecuencia
                de nuestras actividades o quehaceres, dentro y fuera del hogar.
            </p>
            <p id="texto2" class="text-center">
                “Hay que considerar como primer paso estimar nuestra huella, para luego identificar cuáles serían las áreas en
                las que podríamos reducir o mejorar”
            </p>
            <hr>
        </div>

        <p id="intro_text"> Para ello te dejamos una serie de recomendaciones con el fin de reducir la huella de carbono: </p>

        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2 id="recom_item"> 1) Desconecta aparatos electronicos sin usar </h2>
            <p id="recom_descr">
                Aunque no lo estén usando, si lo dejas conectado sigue consumiendo energía y por ende afectando a tu huella de carbono.
                Revisa tus facturas de luz. Ejecuta acciones como desconectar los dispositivos electrónicos que ya están cargados o
                evitar en lo posible el uso de calentadores, máquinas eléctricas, etc. El ajuste debe ser gradual, buscando aprender
                a vivir con bajas emisiones en carbono, es decir, ajustar nuestro comportamiento.
            </p>
            <h2 id="recom_item"> 2) Evita el uso de envases y bolsas de plástico </h2>
            <p id="recom_descr">
                Uno de los mayores enemigos del medio ambiente es el uso excesivo de plástico. Lo recomendable es usar cajas de cartón,
                bolsas de tela y envases de vidrio.
            </p>
            <h2 id="recom_item"> 3) Usa la bicicleta o camina  </h2>
            <p id="recom_descr">
                Muchos trayectos no justifican el uso del automóvil, ¿por qué no mejorar de paso tu salud recurriendo más a la bicicleta
                o a una caminata? Como alternativa, el uso del transporte público sería lo opcional. De acuerdo a las posibilidades
                de cada uno, considera esto al ir al trabajo.
            </p>
            <h2 id="recom_item"> 4) Regresa al termo  </h2>
            <p id="recom_descr">
                Comprar botellas plásticas con líquido cada que tienes sed es poco amigable con el planeta, mejor compra un termo y
                lleva en este tus bebidas. Un beneficio adicional es que podrás controlar mejor la calidad de los líquidos que ingieres,
                pues los llevarás desde tu hogar, y no te arriesgarás con bebidas de dudosa calidad.
            </p>
            <h2 id="recom_item"> 5) Ser eficiente en el consumo de agua.  </h2>
            <p id="recom_descr">
                Reducir el uso del agua disminuirá el uso de la energía que se requiere para procesarla. Otra acción fundamental es
                asegurarnos de cerrar el grifo mientras no está en uso
            </p>
            <h2 id="recom_item"> 6) Mantén tu automóvil en buen estado  </h2>
            <p id="recom_descr">
                Si necesitas seguir utilizando tu coche, mantenlo en buen estado. Los autos con el mantenimiento adecuado, como las
                llantas infladas correctamente, generan menos emisiones de gases de efecto invernadero
            </p>
            <h2 id="recom_item"> 7) Reciclar plástico, vidrio y metales  </h2>
            <p id="recom_descr">
                Reciclar acero o aluminio ayuda a reducir las emisiones de gases de efecto invernadero. ¿Sabías que por
                cada kilogramo de plástico que se fabrica, se liberan 3,5 kilogramos de CO2 a la atmósfera? ¡A tener en cuenta!
            </p>
            <h2 id="recom_item"> 8) Rodéate de verde  </h2>
            <p id="recom_descr">
                Plantar un árbol reduce nuestra huella y contribuye a mejorar el medio ambiente; pero nosotros te decimos que
                incorpores plantas en distintos espacios dentro de tu organización. Las plantas absorben el CO2 del aire.
            </p>
            <h2 id="recom_item"> 9) Recuerda las tres erres  </h2>
            <p id="recom_descr">
                Simple y conciso: REDUCE, REUTILIZA Y RECICLA
            </p>
            <div id="caja_vacia"></div>
        </div>

    </div>

{{/partial}}
{{> base.hbs}}