Aca deberia de ir el selector de la fecha para generar el reporte correspondiente a cada usuario. Verifiquen y a単adan lo que quieran, no deberia de andar de todas formas
{{#partial "titulo"}}
   <title> Generador de Reportes </title>
{{/partial}}

{{#partial "container"}}
   <div class="container">
      <div class="row">
         <h3>Seleccione a partir de que fecha quiere generar el Reporte</h3>
      </div>

      <div class="row1-container">
       <div class="row">
          <div class="row" style="margin-top: 25px; margin-bottom: 30px;">
            <input type="text" class="form-control" placeholder="Imputar A単o" disabled>
          </div>

          <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
            <input type="text" class="form-control" placeholder="Imputar Mes">
          </div>
       </div>

       <div class="row">
          <div class="row" style="margin-top: 25px; margin-bottom: 30px;">
             <input type="text" class="form-control" placeholder="Imputar A単o" disabled>
          </div>
       </div>
      </div>

      <div class="row2-container">
       <div class="row">
          <div class="row" style="margin-top: 25px; margin-bottom: 30px;">
             <input type="text" class="form-control" placeholder="Imputar A単o" disabled>
          </div>
       </div>
      </div>
   </div>
{{/partial}}