{{#partial "estilos"}}
    <link rel="stylesheet" href="/css/guiaDeRecomendaciones.css">
    <link rel="stylesheet" href="/css/index/iniciarSesion.css">
{{/partial}}
{{#partial "nav-items"}}
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class='bx bxs-home' title="Menú"></i>
            <span class="nav_items"> MENÚ </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/organizacion/guia">
            <i class='bx bx-notepad' title="Guía de recomendaciones" ></i>
            <span class="nav_items"> GUÍA DE RECOMENDACIONES </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="#">
            <i class='bx bxs-business' title="Mi organización"></i>
            <span class="nav_items"> MI ORGANIZACIÓN </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/organizacion/calcularHuella">
            <i class='bx bxs-leaf' title="Mi huella"></i>
            <span class="nav_items"> MI HUELLA </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/organizacion/miembros">
            <i class='bx bxs-group' title="Miembros"></i>
            <span class="nav_items"> MIEMBROS </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/organizacion/solicitudes">
            <i class='bx bx-envelope-open' title="Solicitudes pendientes"></i>
            <span class="nav_items"> SOLICITUDES PENDIENTES </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/organizacion/mediciones">
            <i class='bx bxs-report' title="Registrar mediciones"></i>
            <span class="nav_items"> REGISTRO DE MEDICIONES </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/organizacion/reporte">
            <i class='bx bxs-pie-chart-alt-2' title="Reportes"></i>
            <span class="nav_items"> REPORTES </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class='bx bxs-cog' title="Configuración"></i>
            <span class="nav_items"> CONFIGURACIÓN </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class='bx bx-log-out-circle' title="Cerrar sesión"></i>
            <span class="nav_items"> CERRAR SESIÓN </span>
        </a>
    </li>
{{/partial}}