{{#partial "estilos"}}
    <link rel="stylesheet" href="/css/guiaDeRecomendaciones.css">
    <link rel="stylesheet" href="/css/index/iniciarSesion.css">
{{/partial}}
{{#partial "nav-items"}}
    <li class="nav-item">
        <a class="nav-link" href="/miembro/menu">
            <i class='bx bxs-home' title="Menú"></i>
            <span class="nav_items"> MENÚ </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/miembro/perfil">
            <i class='bx bxs-user-circle' title="Mi perfil"></i>
            <span class="nav_items"> MI PERFIL </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/miembro/calcularHuella">
            <i class='bx bxs-leaf' title="Mi huella"></i>
            <span class="nav_items"> MI HUELLA </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/miembro/registrarTrayecto">
            <i class='bx bx-line-chart' title="Registrar trayectos"></i>
            <span class="nav_items"> REGISTAR TRAYECTOS </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class='bx bxs-briefcase' title="Vincular organización"></i>
            <span class="nav_items"> VINCULAR ORGANIZACIÓN </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/miembro/reporte">
            <i class='bx bxs-pie-chart-alt-2' title="Reportes"></i>
            <span class="nav_items"> REPORTES </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/miembro/configuracion">
            <i class='bx bxs-cog' title="Configuración"></i>
            <span class="nav_items"> CONFIGURACIÓN </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class='bx bx-log-out-circle' title="Cerrar sesión"></i>
            <span class="nav_items"> CERRAR SESIÓN </span>
        </a>
    </li>
{{/partial}}