{{> miembros/base-miembro.hbs}}

{{#partial "titulo"}}
    <title> Vincular organización </title>
{{/partial}}

{{#partial "estilos"}}
    <link rel="stylesheet" href="/css/miembros/vincularOrganizacion.css">
{{/partial}}

{{#partial "container"}}

    <div id="title_row" class="row">
        <div id="titulo" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1> VINCULAR ORGANIZACIÓN </h1>
        </div>
    </div>

    <div class="container">

        <div id="subtitle_VO" class="row" style="margin-bottom: 75px;">
            <p> Vincule su usuario a la organización que corresponda para generar <br> cálculos y mediciones más completos </p>
        </div>

        <div class="row">

            <form>

                <h2 id="selec_org"> Seleccione a qué organización quiere vincularse </h2>

                <select id="organizaciones" class="form-select">
                    <option selected> Organización </option>
                    <option> orgA </option>
                </select>

                <div class="row">
                    <button type="button" id="solicitar_vinculacion" class="btn btn-success btn-lg"> Vincularme </button>
                </div>

            </form>

            <div id="subtitle_VO" class="row">
                <p> Su solicitud de vinculación fue enviada </p>
            </div>

        </div>

    </div>

    <div id="caja_vacia_VO"></div>

{{/partial}}